// Importando as variáveis de estilização

@use '../../styles.scss' as *;

h1 {
    text-align: center;
    margin: 50px;
}

// Estilizando o mapa da mongólia e os pins

.mapaCuriosidades {
    display: flex;
    justify-content: center;
    align-items: center;

    .mongolia {
        display: inline-block;
        position: relative;
        max-width: 100%;
    
        .mapa {
            width: 100%;
            height: auto;
            display: block;
        }

        // Estilizando as posições dos pins no mapa
    
        .pin {
            position: absolute;
            transform: translate(-50%, -100%);
            width: 70px;   
            cursor: pointer;
        }

        .pin1 {
            top: 40%;
            left: 40%;
        }

        .pin2 {
            top: 40%;
            left: 80%;
        }

        .pin3 {
            top: 85%;
            left: 60%;
        }

        .pin4 {
            top: 70%;
            left: 25%;
        }
    }
}