// Importando as variáveis do SCSS global

@use '../styles.scss' as *;

// Estilizando o cabeçalho para todas as páginas

header {
    background-color: $cor-primaria;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    background-image: linear-gradient(to right, $cor-terciaria, white, $cor-secundaria);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

// Estilzação dos links do cabeçalho

ul {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 60px;
}

// Estilização dos links e adicionando um underline animado embaixo dos links

.link {
    cursor: pointer;
    position: relative;

    &::after {
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        bottom: 0;
        transform: scaleX(0);
        transform-origin: center;
        background-color: $cor-terciaria;
        transition: transform 0.3s ease-in-out;
    }

    &:hover::after {
        transform: scaleX(1);
    }
}

// Estilização das âncoras, retirando o underline

a {
    text-decoration: none;
    color: $cor-fonte-clara;
}